<html>
   <body>
      <% provide(:title, "playlist") %>

      <div class="row justify-content-center">
         <h1> Playlist Name: <%= @playlist.name %> </h1>
         <div class="col-md-6 col-md-offset-3">
            <br>
            <div class="user-playlists"></div>
            <%= form_for(@playlist, url: playlist_path) do |f| %>

            <%= f.text_field :name, class: "form-control", method: :post %>
            <br>
            <%= f.submit "Create my Playlist", class: "btn btn-primary" %>
            <% end %>
         </div>
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript">
         var handleClick = hashed_id => {
            console.log(hashed_id);

            $.ajax({
               url: "/playlist/route-playlist?hashed_id=",
               type: "POST",
               data: hashed_id,
               success: function(data) {
                  console.log("POST request successfully made!");
               }
            })
         }
      
         $(document).ready(function(){   
            $.ajax({
               url: "/user-playlists",
               method: "GET",
               dataType: "json",
               success: function(data) {
                  var htmlString = "";

                  if (data.res.length > 0) {
                     htmlString += "<h2>Current playlists:</h2>";
                  } else {
                     htmlString += "<h2>No playlists available.</h2>";
                  } 

                  for (var i = 0; i < data.res.length; i++) {
                     var functionString = `(function(){handleClick("${data.res[i].hashed_id}");})();`;
                     htmlString += `<button class="btn-lg btn-primary" onClick=${functionString}>${data.res[i].name}</button><br><br>`;
                  }

                  $(".user-playlists").append(htmlString);
               }
            });
         })
      </script>
   </body>
</html>